Repository infinum/jsonapi-query_builder: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frozen-strings, rubocop-rspec, standardrb, rspec

lint-frozen-strings:
  run: bundle exec rubocop {staged_files} --only Style/FrozenStringLiteralComment,Layout/EmptyLineAfterMagicComment --format quiet --auto-correct

rubocop-rspec:
  run: bundle exec rubocop {staged_files} --only RSpec --format quiet

standardrb:
  run: bundle exec standardrb {staged_files}

rspec:
  run: bundle exec rspec {staged_files} --format failures

Add support for proc and object default sorts
  README.md
  lib/jsonapi/query_builder/base_sort.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  spec/jsonapi/query_builder/base_sort_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Bump version to 0.3.0
  CHANGELOG.md
  Gemfile.lock
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Add Pagy Countless paginator
  README.md
  lib/jsonapi/query_builder/paginator/pagy_countless.rb
  spec/jsonapi/query_builder/paginator/pagy_countless_spec.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Allow dynamic sorting
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/dynamic_sort.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  lib/jsonapi/query_builder/mixins/sort/dynamic.rb
  lib/jsonapi/query_builder/mixins/sort/static.rb
  spec/jsonapi/query_builder/dynamic_sort_spec.rb
  spec/jsonapi/query_builder/mixins/sort/dynamic_spec.rb
  spec/jsonapi/query_builder/mixins/sort/static_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Resolve CVEs
  .github/workflows/spec.yml
  .ruby-version
  Gemfile.lock
Due: none

Run CI on ubuntu-latest
  .github/workflows/lint.yml
  .github/workflows/spec.yml
Due: none

Drop Ruby < 3.2 and Rails < 7.2 support
  .github/workflows/spec.yml
  .ruby-version
  Gemfile.lock
  jsonapi-query_builder.gemspec
  lefthook.yml
  lib/jsonapi/query_builder/errors/unpermitted_sort_parameters.rb
  lib/jsonapi/query_builder/paginator/pagy.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
  spec/jsonapi/query_builder/paginator/kaminari_spec.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Pin Ubuntu version
  .github/workflows/lint.yml
  .github/workflows/spec.yml
  lib/jsonapi/query_builder/paginator/pagy.rb
  spec/jsonapi/query_builder/paginator/kaminari_spec.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Update docs for dynamic sorting
  README.md
Due: none

Use delete_prefix instead of sub
  lib/jsonapi/query_builder/mixins/sort/dynamic.rb
Due: lint-frozen-strings, standardrb

Update sort_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Bump version to 0.4.0, update changelog
  CHANGELOG.md
  Gemfile.lock
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Remove lockfile
  Gemfile.lock
Due: none

Update RuboCop config
  .rubocop.yml
Due: none

Move development gems to Gemfile
  Gemfile
  jsonapi-query_builder.gemspec
Due: none

Fix quotes on string literals
  Gemfile
  Rakefile
  bin/console
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/dynamic_sort.rb
  lib/jsonapi/query_builder/errors/unpermitted_sort_parameters.rb
  lib/jsonapi/query_builder/mixins/filter.rb
  lib/jsonapi/query_builder/mixins/include.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  lib/jsonapi/query_builder/mixins/sort/param.rb
  lib/jsonapi/query_builder/paginator.rb
  lib/jsonapi/query_builder/paginator/kaminari.rb
  lib/jsonapi/query_builder/paginator/keyset.rb
  lib/jsonapi/query_builder/paginator/pagy.rb
  lib/jsonapi/query_builder/paginator/pagy_countless.rb
  lib/jsonapi/query_builder/version.rb
  spec/jsonapi/query_builder/base_filter_spec.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder/base_sort_spec.rb
  spec/jsonapi/query_builder/dynamic_sort_spec.rb
  spec/jsonapi/query_builder/errors/unpermitted_sort_parameters_spec.rb
  spec/jsonapi/query_builder/mixins/filter_spec.rb
  spec/jsonapi/query_builder/mixins/include_spec.rb
  spec/jsonapi/query_builder/mixins/paginate_spec.rb
  spec/jsonapi/query_builder/mixins/sort/dynamic_spec.rb
  spec/jsonapi/query_builder/mixins/sort/param_spec.rb
  spec/jsonapi/query_builder/mixins/sort/static_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
  spec/jsonapi/query_builder/paginator/base_paginator_spec.rb
  spec/jsonapi/query_builder/paginator/kaminari_spec.rb
  spec/jsonapi/query_builder/paginator/keyset_spec.rb
  spec/jsonapi/query_builder/paginator/pagy_countless_spec.rb
  spec/jsonapi/query_builder/paginator/pagy_spec.rb
  spec/jsonapi/query_builder_spec.rb
  spec/spec_helper.rb
  spec/support/active_record.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Use verified doubles in specs
  spec/jsonapi/query_builder/base_filter_spec.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder/dynamic_sort_spec.rb
  spec/jsonapi/query_builder/mixins/filter_spec.rb
  spec/jsonapi/query_builder/mixins/include_spec.rb
  spec/jsonapi/query_builder/mixins/paginate_spec.rb
  spec/jsonapi/query_builder/mixins/sort/dynamic_spec.rb
  spec/jsonapi/query_builder/mixins/sort/static_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
  spec/jsonapi/query_builder/paginator/kaminari_spec.rb
  spec/jsonapi/query_builder/paginator/pagy_countless_spec.rb
  spec/jsonapi/query_builder/paginator/pagy_spec.rb
  spec/jsonapi/query_builder_spec.rb
Due: lint-frozen-strings, rubocop-rspec, standardrb, rspec

Path conditions:
  lint-frozen-strings: any of: *.rb
  rubocop-rspec: any of: spec/*
  standardrb: any of: *.rb
  rspec: any of: *_spec.rb
