Repository infinum/jsonapi-query_builder: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frozen-strings, standardrb, rubocop-rspec, rspec

lefthook.yml:

lint:
  commands: &lint
    lint-frozen-strings:
      glob: "*.rb"
      run: bundle exec rubocop {staged_files} --only Style/FrozenStringLiteralComment,Layout/EmptyLineAfterMagicComment --format quiet --auto-correct

pre-commit:
  parallel: true
  commands:
    <<: *lint
    standardrb:
      glob: "*.rb"
      run: bundle exec standardrb {staged_files}
    rubocop-rspec:
      glob: "spec/*"
      run: bundle exec rubocop {staged_files} --only RSpec --format quiet
    rspec:
      glob: "*_spec.rb"
      run: bundle exec rspec {staged_files} --format failures

post-checkout:
  commands:
    bundle-install:
      run: bundle check || bundle install

pre-push:
  parallel: true
  commands:
    bundler-audit:
      run: bundle audit --update --quiet
    rspec:
      run: bundle exec rspec --format failures

Add base query
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  spec/jsonapi/query_builder/base_query_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add sort query builder mixin
  lefthook.yml
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add include mixin
  Gemfile.lock
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/include.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder/mixins/include_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add Jsonapi::QueryBuilder documentation
  README.md
Due: none

Add paginate mixin with pagy pagination
  Gemfile.lock
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder/mixins/paginate_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add filtering mixin
  .rubocop.yml
  README.md
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/filtering.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder/mixins/filtering_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add BaseFilter class
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_filter.rb
  spec/jsonapi/query_builder/base_filter_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add default page number parameter
  lib/jsonapi/query_builder/mixins/paginate.rb
  spec/jsonapi/query_builder/mixins/paginate_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add a pre-release version and remove Gemfile.lock
  .gitignore
  Gemfile.lock
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Handle string keyed parameters
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/filtering.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  lib/jsonapi/query_builder/version.rb
  spec/jsonapi/query_builder_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Include pagy items extra
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Fix queries with not filters set
  lib/jsonapi/query_builder/mixins/filtering.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/version.rb
  spec/jsonapi/query_builder/mixins/filtering_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add a spec for pagination parameters
  lib/jsonapi/query_builder/mixins/sort.rb
  spec/jsonapi/query_builder/mixins/paginate_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Enable pushing to rubygems
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Add support to query for fetching a single record
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/version.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Fix find to use find by bang method
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/version.rb
  spec/jsonapi/query_builder/base_query_spec.rb
  spec/jsonapi/query_builder_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add nested sort attributes support
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
  spec/jsonapi/query_builder_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add support for sort lamdbas and objects
  README.md
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/base_sort.rb
  lib/jsonapi/query_builder/mixins/filter.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  lib/jsonapi/query_builder/mixins/sort/param.rb
  spec/jsonapi/query_builder/base_sort_spec.rb
  spec/jsonapi/query_builder/mixins/filter_spec.rb
  spec/jsonapi/query_builder/mixins/sort/param_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
  spec/jsonapi/query_builder_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

--wip-- [skip ci]
  .gitignore
  Gemfile.lock
  jsonapi-query_builder.gemspec
Due: none

--wip-- [skip ci]
  Gemfile.lock
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder/mixins/include.rb
  lib/jsonapi/query_builder/mixins/include/param.rb
  lib/jsonapi/query_builder/mixins/sort/param.rb
  spec/jsonapi/query_builder/mixins/include/param_spec.rb
  spec/jsonapi/query_builder/mixins/include_spec.rb
  spec/spec_helper.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

--wip-- [skip ci]
  lib/jsonapi/query_builder/mixins/include.rb
  spec/jsonapi/query_builder/mixins/include/param_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Add documentation to public methods
  README.md
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder/base_filter.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/base_sort.rb
  lib/jsonapi/query_builder/mixins/filter.rb
  lib/jsonapi/query_builder/mixins/include.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Re-add gemfile.lock to the gem
  .gitignore
  Gemfile.lock
Due: none

Bump Ruby version to allow Ruby 3
  jsonapi-query_builder.gemspec
Due: none

Bump version to 0.1.8
  CHANGELOG.md
  Gemfile.lock
  README.md
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Add github build action
  .github/workflows/build.yml
  .rubocop.yml
  lefthook.yml
Due: none

Split workflows
  .github/workflows/lint.yml
  .github/workflows/spec.yml
Due: none

Add status badges to readme
  README.md
Due: none

extract paginator logic
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/paginator/kaminari.rb
  lib/jsonapi/query_builder/paginator/pagy.rb
  spec/jsonapi/query_builder/mixins/paginate_spec.rb
  spec/jsonapi/query_builder_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

move pagy from runtime to development dependency
  Gemfile.lock
  jsonapi-query_builder.gemspec
Due: none

Remove Ruby `to` version.
  jsonapi-query_builder.gemspec
Due: none

Update rexml because of CVE
  Gemfile.lock
Due: none

Bump version to 0.1.9
  CHANGELOG.md
  Gemfile.lock
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb

Redesing paginations
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/pagination_strategy/pagy.rb
Due: lint-frozen-strings, standardrb

wip
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder/paginator/keyset.rb
  lib/jsonapi/query_builder/paginator/pagy.rb
  spec/jsonapi/query_builder/paginator/keyset_spec.rb
  spec/support/activerecord.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Extract pagination logic into paginators
  Gemfile.lock
  README.md
  jsonapi-query_builder.gemspec
  lib/jsonapi/query_builder.rb
  lib/jsonapi/query_builder/base_query.rb
  lib/jsonapi/query_builder/errors/unpermitted_sort_parameters.rb
  lib/jsonapi/query_builder/mixins/paginate.rb
  lib/jsonapi/query_builder/mixins/sort.rb
  lib/jsonapi/query_builder/paginator.rb
  lib/jsonapi/query_builder/paginator/base_paginator.rb
  lib/jsonapi/query_builder/paginator/kaminari.rb
  lib/jsonapi/query_builder/paginator/keyset.rb
  lib/jsonapi/query_builder/paginator/pagy.rb
  spec/jsonapi/query_builder/errors/unpermitted_sort_parameters_spec.rb
  spec/jsonapi/query_builder/mixins/filter_spec.rb
  spec/jsonapi/query_builder/mixins/paginate_spec.rb
  spec/jsonapi/query_builder/mixins/sort_spec.rb
  spec/jsonapi/query_builder/paginator/base_paginator_spec.rb
  spec/jsonapi/query_builder/paginator/kaminari_spec.rb
  spec/jsonapi/query_builder/paginator/keyset_spec.rb
  spec/jsonapi/query_builder/paginator/pagy_spec.rb
  spec/jsonapi/query_builder_spec.rb
  spec/support/active_record.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Bump version to 0.2.0
  CHANGELOG.md
  Gemfile.lock
  lib/jsonapi/query_builder/version.rb
  spec/jsonapi/query_builder/mixins/filter_spec.rb
Due: lint-frozen-strings, standardrb, rubocop-rspec, rspec

Fix builds for ruby 3.0 and incompatible pagy version
  .ruby-version
  Gemfile.lock
  jsonapi-query_builder.gemspec
Due: none

Bump pagy version to allow pagy 4+
  Gemfile.lock
  jsonapi-query_builder.gemspec
Due: none

Bump version to 0.2.1
  CHANGELOG.md
  Gemfile.lock
  lib/jsonapi/query_builder/version.rb
Due: lint-frozen-strings, standardrb
